<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/codeclub.png" title="codeclub">
    <title>Sherlocked Level 4</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        body {
            background-image: url("img/L4.png");
            /* you can also use a web URL or base64 encoded image data */
            background-repeat: no-repeat;
            background-size: cover;
            /* this will make the image cover the entire background area */
        }

        form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            max-width: 600px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            /* this will create a semi-transparent white background for the form */
            border-radius: 10px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: none;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <form>
        <label for="question">As a consulting detective, I have been presented with various tests of my deductive abilities. In one scenario, I was
        faced with four identical-looking bottles, labelled 1,2,3,4 respectively, three of which contained a lethal poison.
        However,
        I was also given a note that read: <br><br>'63 40 151 156 40 142 151 156 141 162 171 50 63 40 142 151 164 163 51'  <br><br>Given this information,
        which bottle would I choose to drink from? Write your answer after you decode the Note.
</label>
        

        <label for="answer">Answer:</label>
        <input type="text" id="answer" name="answer" placeholder="Enter your answer here">

        <input type="submit" value="Submit">
    </form>
    <%- include('common/common_err_toast') %>
    <!-- Modal -->
    <%- include('common/modal', {headingTitle: "Level 4"}) %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="js/common.js"></script>
    <script src="js/__extra_styles_4.js"></script>
    <script type="text/javascript">
        document.querySelector("form").addEventListener("submit", function(e) {
           e.preventDefault();
           var payload = {
               answer: e.target.elements["answer"].value,
               level: 4
           };
           fetch('https://thankful-sneakers-fly.cyclic.app/answer', {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify(payload)
           })
           .then(response => {
           if (!response.ok) {
               const toast_wrong_ans = document.querySelector('#wrong_ans');
               const toast_wa = new bootstrap.Toast(toast_wrong_ans);
               toast_wa.show();
           }
           return response.json();
           })
           .then(data => {
           console.log(data)
           if(data.result=="correct") {
               window.open("https://thankful-sneakers-fly.cyclic.app/polybius", "_self");
           } else if (data.result=="incorrect") {
               const toast_wrong_ans = document.querySelector('#wrong_ans');
               const toast_wa = new bootstrap.Toast(toast_wrong_ans);
               toast_wa.show();
           } else {
               const toast_wrong_ans = document.querySelector('#wrong_ans');
               const toast_wa = new bootstrap.Toast(toast_wrong_ans);
               toast_wa.show();
           }
           })
           .catch(error => {
           console.error('There was a problem with the fetch operation:', error);
           const toast_wrong_ans = document.querySelector('#wrong_ans');
           const toast_wa = new bootstrap.Toast(toast_wrong_ans);
           toast_wa.show();
           });
       });
   </script>
</body>

</html>